h1{
	font-family: Kaushan Script, Zapfino, Vacations in Paradise Personal Use, Amatic SC, Impact, Arial Black, Arial, Verdana, sans-serif;
	text-align: center;
	font-size: 5em;
	background-image: url("");

}

.content-wrapper {
	background-image: url('images/bluesky.jpg');
	background-size: cover;

}

.content-wrapper h1{
	margin: 0;
	padding: 1em ;
}

.content-wrapper img {
	width: 100%;
}

.text-wrapper {
	width: 100%;
	position: relative;
	margin-top: -40%;
}

.text-wrapper h1 {
	text-align: center;
	font-family: Kaushan Script, Zapfino, Vacations in Paradise Personal Use, Amatic SC, Impact, Arial Black, Arial, Verdana, sans-serif;
}

body{
    width: 100%;
    margin:0;
}

.diaporama1{
	margin: 0 auto;
	width: 1000px;
	height: 500px;
	background-image: url("images/defilement5.jpg");
	margin-top: 20px;

	
	animation-name: diapo1;
	animation-duration: 12s;
	animation-animation-delay: 1s;
	animation-transition: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}



@keyframes diapo1{
	0%{background-image: url("images/defilement5.jpg");}
	25%{background-image: url("images/defilement6.jpg");}
	50%{background-image: url("images/defilement7.jpg");}
	75%{background-image: url("images/defilement8.jpg");}
}

#searchbar {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.Boutondenavigation{
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: Kaushan Script, Zapfino, Vacations in Paradise Personal Use, Amatic SC, Impact, Arial Black, Arial, Verdana, sans-serif;
    text-decoration: none;
}

.menu-btn{
	display: none;
}


.toggle{
	display: none;
}


.video-container{
	padding-bottom: 56.25%;
	height: 0;
	width: 100%;
	position: relative;
}


.video-container iframe{
	height: 100%;
	width: 100%;
	position: absolute ;
	top:0;
	left: 0;
}

.item-video {
	width: calc(50% - 10px) ;
	text-align:justify;
	margin-left: 120px;
}

.video1 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 80%;

}

.click {
	color: blue;
	text-decoration: underline;
}

nav{
		border-bottom: 3px solid #02b8dd;
}


a{
	text-decoration: none;
	color: black;
}

#navigation{
	text-decoration: none;
}

.para1 {
	width: 50%;
}

.bouton {
	background-image: url('./images/search.svg');
	background-size: contain;
	background-repeat: no-repeat;
}
#info{
    padding: 60px 0;
}
.section-title{
    max-width: 400px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #02b8dd;
    padding-bottom: 20px;
}
h2 {
  color:#4d1da5;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 3em;
  margin-top: 5%; 
}

.title {
font-family: 'Kaushan Script', cursive; 
text-align: center;
margin-top: 2%;
margin-bottom: 1%;
}

.wrapper{
	max-width: 1000px;
	margin: 0 auto;
}

.a-img-txt2{
display: inline;
}
.a-txt{
	display:flex;
	justify-content:center;
	align-items:center;
	color: white;
	font-style: italic;
	opacity:0;
	transition:opacity .8s;
	}

.a-img-txt:hover .a-txt{
opacity:1;
}

.a-img-txt{
	position: relative;
	display: block;
	margin:24px;
	font-family: 'Pacifico', cursive;
	font-size:50px;
}

.a-img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.a-txt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


a{
text-decoration:none;
}

div {
text-align:center;
}
 /*form*/
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 40px auto;
}

.label{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 10px;
}

.form-field{
  display: block;
  width: 100%;
  max-width: 300px;
  padding: .5em 1em;
}

.submit{
  padding: .5em 2em;
  margin-left: auto;
}

/*footer*/
ul,li{
	list-style: none;
	bottom: 100%;
	max-width: 100%;
	position: relative;
   }

.block{
	display: flex;
	flex-direction: column;
	align-items: center;
	color:rgb(255, 255, 255);
	bottom: 100%;
	max-width: 100%;
	position: relative;
}
.confid{
	display:none;
}
.printemps{
	display: none;
}
.bouton1{
	display:none;
}
 footer{
	height:100%;
	max-height: 300px;
	background-color: rgb(5, 5, 5);
	bottom: 100%;
	max-width: 100%;
	position: relative;
 }

.footer{
	text-align: center;
	font-weight: bold;
	bottom: 100%;
	max-width: 100%;
	position: relative;
} 

.footer-button{
	display: block;
    width: 100%;
    max-width: 300px;
	padding: .3em 1em;
	border-radius: 3px;
	bottom: 100%;
	max-width: 100%;
	position: relative;

}

.logo{
	display:block;
		width:150px;
		bottom: 100%;
    max-width: 100%;
    position: relative;
}

.footer li{
	margin-bottom: 10px;
}

/*html 2*/

.card-list{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
 .card{
	 display: block;
	 background-color: #fff;
	 width:calc( 100% - 20px);
	 max-width: 300px;
	 margin: 10px;
	 box-shadow:0 0 17px #bbb;
	 border-bottom: solid black;
	 overflow: hidden;
 }

 .card .image-container{
	 position: relative;
	 overflow: hidden;
	 width: 100%;
	 height: 0;
	 padding-bottom: 56.25%;
 }

 .card img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
 }

 .content{
	 padding: 20px 10px;
	 box-sizing: border-box;
	 line-height: 1.5em;
 }

 .content span{
	 display: block;
 }

body{
	background-color: rgb(202, 234, 250);
}
 /*html2*/
@media screen and (min-width: 500px){
	.card-list{
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
	}

	.card{
		width: calc(50% - 20px);
	}
}


@media screen and (min-width: 800px){

	.card{
		width: calc(33.33% - 20px);
	}
}

/*footer*/
@media screen and (min-width: 500px){
	.block{
		flex-direction:row;
	justify-content: space-around;
	}
	.confid{
		display:block;
	}
}

@media screen and (min-width: 800px){
	.printemps{
		display:block;
	}
	.bouton1{
		display:block;
	}
}
@media screen and (max-width: 600px){

h1{
	font-family: Kaushan Script, Zapfino, Vacations in Paradise Personal Use, Amatic SC, Impact, Arial Black, Arial, Verdana, sans-serif;
	text-align: center;
	font-size: 1.5em;
	background-image: url("");
}


	.Boutondenavigation {
		display: none;
	}

	.Boutondenavigation a {
		display: block;
		border-bottom: 1px solid #02b8dd;
		margin: 0;
	}

	.menu-btn{
		display: block;
	}

	.toggle:checked + .Boutondenavigation {
					display: block;
			}

	.diaporama1{
		display: none;
	}

	.para1 {
		width: 100%;
	}

	body{
			width: 100%;
			margin:0;
	}

	h2 {
		color:#4d1da5;
		text-align: center;
		font-family: 'Kaushan Script', cursive;
		font-size: 1.5em;
	}

	#searchbar {
		left: 70%;
	}

	.video1 {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
	}

	.a-txt{
		font-size: 20px;
		opacity: inherit
	}
		
	
	.item-video {
		text-align:justify;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-left: 15px;
		text-align: center;
		margin-bottom: 20px;
	}
 .p1{
 	text-align: center;
 	margin-left: 40px;
 }
}